@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .botao {
    margin-top: 5px;
    width: 300px;
   
  }
  .botao a {
    color: white;
  }

  .filme-principal .titulo {
    font-size: 1.5rem;
  }
  .filme-principal .descricao {
    line-height: 20px;
    color: #aaaaaa;
  }
}

@media screen and (min-width: 1000px) {
  .descricao {
    width: 50%;
  }
}

/* NAVBAR: */
@media screen and (max-width: 768px) {
  .logo {
    font-size: 2rem
  }
  .navbar__links {
    background-color: var(--preta);
    width: 100%;
    height: 80vh;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    transition: transform 1s ease;
  }

  .navbar__item {
    width: 45%;
    text-align: right;
    padding: 1rem;
    color: var(--white-100);  
  }

  .burger {
    margin-right: 10px;
  }
  .burguer__line {
    padding: 0.2rem 1rem;
    background-color:var(--vermelho);
    margin: .5rem 0rem;
    display: block;
    cursor: pointer;
  }

  .nav-open {
    transform: translateX(-70%);
  }

  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background-color: var(--vermelho);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background-color: var(--vermelho);
  }

  .ativo:after {
    display: none;
  }
}